<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= title %></title>

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="main container">
		<div class="row">

			<h1 class="text-center">Search for products</h1>
			<form role="form" method="post" action=""> 
				<div class="form-group col-xs-3"> 
					<label for="seller">Seller:</label>
					<input type="text" name="seller" class="form-control" id="seller"> 
				</div> 
				<div class="form-group col-xs-3"> 
					<label for="type">Type:</label>
					<input type="text" name="type" class="form-control" id="type"> 
				</div> 
				<div class="form-group col-xs-3"> 
					<label for="weight">Weight:</label>
					<input type="text" name="weight" class="form-control" id="weight"> 
				</div> 
				<div class="form-group col-xs-3"> 
					<label for="price">Price:</label>
					<input type="text" name="price" class="form-control" id="price"> 
				</div> 
				<div class="col-xs-12">	
					<button type="submit" class="btn btn-default col-xs-12">Submit</button>
				</div>
			</form> 
			
			<!-- TODO: print search results here -->

			<ul class="result"> <!-- placeholder -->
				<li>Chosen seller: <%= seller %></li>
				<li>Chosen type: <%= type %></li>
				<li>Chosen weight: <%= weight %></li>
				<li>Chosen price: <%= price %></li>
			</ul>
		</div>


	</div>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>